{% extends 'shop/base.html' %}

{% block content %}
<a href="{% url 'delete' %}" class="btn btn-primary">Supprimer le panier</a>
<div class="row">
{% for order in orders %}
<div class="col-md-3">
    <div class="card">
        <img src="{{order.product.image.url}}" alt="" class="card-img-top" width="720" height="300">
        <h2>{{ order.product.title }}</h2>
        <h3 class="text-warning">{{ order.product.price }} Francs</h3>
        <p>{{ order.quantity }} {{order.product.title}} dans le panier</p>
    </div>
</div>
{% endfor %}
</div>

{% endblock content %}